# MongoDB Connection (MongoDB Atlas)
MONGODB_URI=""

# Resend Email Integration
RESEND_API_KEY=""
CONTACT_EMAIL="sumit9354800@gmail.com"

# Admin Authentication
ADMIN_EMAIL="sumit9354800@gmail.com"
ADMIN_PASSWORD="adminpassword123"
AUTH_SECRET="sumit-shrivastav-portfolio-cms-secret-key-2026"

# Site Configuration
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

